.cardInProgress{
    min-width: 420px;
    width: 420px;
    border-radius: 5px;
    background-color: var(--backgroundColor);
    border: 1px solid var(--border);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cardInProgress:hover{
    border: 1px solid var(--blue);
}

.infosCardProgress{
    margin: 5px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    white-space: nowrap;
    gap: 10px;
}

.infosCardProgress img{
    width: 190px;
    border-radius: 3px;
}

.infosCardProgress h3{
    font-size: 1rem;
    color: var(--title);
    margin: 10px 0px 5px 0px;
}

.infosCardProgress p{
    font-size: 0.8rem;
    margin: 0;
    color: var(--subtitle);
}

.moreInfosCourse{
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--subtitle);
    margin-top: 5px;
    margin-left: -4px;
}

.moreInfosCourse p{
    margin-right: 10px;
    gap: 3px;
    display: flex;
    align-items: center;
}

.percentDivWithInfos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    gap: 1%;
    margin-bottom: 5px;
}

.percentDivWithInfos div{
    background-color: var(--shadow);
    width: 86%;
    height: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}

.percentDivWithInfos span{
    background-color: var(--blue);
    height: 10px;
    width: 100px;
    border-radius: 5px;
    z-index: 3;
}

.percentDivWithInfos p{
    width: 9%;
    color: var(--subtitle);
    margin: 0;
}