.contentHome{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.welcomeDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

.welcomeDiv h1{
    color: var(--title);
}

.welcomeDiv p{
    color: var(--blue);
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.contentDiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.inProgressCoursesDiv{
    width: 60vw;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}

.inProgressCoursesDiv::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

.arrows{
    cursor: pointer;
    color: var(--title);
}
