.rankingFloat{
    background-color: var(--backgroundColor);
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6vw;
    z-index: 3;
    top: 35%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rankingFloat img{
    height: 5vh;
    width: 5vh;
}

.rankingDiv{
    width: 310px;
    background-color: var(--backgroundColor);
    position: fixed;
    z-index: 5;
    transition: 0.5s ease-in-out;
    top: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.arrowBackRank{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.arrowBackRank svg{
    color: var(--title);
    cursor: pointer;
}

.rankingDiv h1{
    color: var(--title);
    font-size: 1.5rem;
    margin: 0;
    margin-left: -10px;
}

.contentRanking{
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    margin-top: 20px;
}

.contentRanking span{
    font-weight: bold;
    color: var(--blue);
    font-size: 0.8rem;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

.itemRank{
    width: 100%;;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemRank:hover{
    background-color: var(--backgroundSecondary);
}

.infoAndUserImage{
    display: flex;
    justify-content: start;
    align-items: center;
}

.infoAndUserImage div{
    width: 9vw;
    overflow: hidden;
    white-space: nowrap;
}

.itemRank img{
    border-radius: 50%;
    margin: 5px;
    height: 3.5rem;
    width: 3.5rem;
}

.itemRank h1{
    margin: 0;
    font-size: 1rem;
    color: var(--title);
}

.itemRank p{
    margin: 0;
    font-size: 0.9rem;
    color: var(--subtitle);
    display: flex;
    align-items: center;
}

.gold{
    color: var(--yellow);
    margin-right: 3px;
}

.silver{
    color: var(--border);
    margin-right: 3px;
}

.bronze{
    color: var(--bronze);
    margin-right: 3px;
}

.youRank{
    background-color: var(--backgroundSecondary);
    margin-bottom: 10px;
}

@media(max-width: 900px){
    .rankingFloat{
        display: none;
    }
}