.rankingFloat{
    background-color: var(--backgroundColor);
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6vw;
    z-index: 3;
    top: 35%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rankingFloat img{
    height: 5vh;
    width: 5vh;
}

.rankingDiv{
    width: 310px;
    background-color: var(--backgroundColor);
    position: fixed;
    z-index: 5;
    transition: 0.5s ease-in-out;
    top: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;
}

.arrowBackRankDiv{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--title);
}

.arrowBackRankDiv svg{
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.arrowBackRankDiv h1{
    font-size: 1.5rem;
    margin: 0;
}

.contentRanking{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    margin-top: 20px;
}

.contentRanking a{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentRanking span{
    font-weight: bold;
    color: var(--blue);
    font-size: 0.8rem;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

.infoAndUserImage{
    display: flex;
    justify-content: start;
    align-items: center;
}

.imageUserDivInRanking{
    border-radius: 50%;
    margin: 5px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #000;
    position: relative;
}

.imageUserDivInRanking span{
    position: absolute;
    height: 12px;
    width: 12px;
    right: -4px;
    bottom: -8px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid var(--backgroundColor);
}

.userRankingInfoDiv{
    width: 100%;
    overflow: hidden;
}

.userRankingInfoDiv h1{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}

.itemRank{
    width: 100%;;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemRank:hover{
    background-color: var(--backgroundSecondary);
}

.itemRank h1{
    margin: 0;
    font-size: 1rem;
    color: var(--title);
}

.itemRank p{
    margin: 0;
    font-size: 0.9rem;
    color: var(--subtitle);
    display: flex;
    align-items: center;
}

.gold{
    color: var(--yellow);
    margin-right: 3px;
}

.silver{
    color: var(--border);
    margin-right: 3px;
}

.bronze{
    color: var(--bronze);
    margin-right: 3px;
}

.youRank{
    background-color: var(--backgroundSecondary);
}

@media(max-width: 900px){
    .rankingFloat{
        display: none;
    }
}